<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div class="your-clock clock"></div>
    <div class="waifu">
      <div class="waifu-tips"></div>
      <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    </div>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div id="back-top">
      <a href="#top" title="回到顶部"></a>
    </div>

    {%- include footer.html -%}
    <!-- timer -->
    <script src="{{ "/assets/time/js/flipclock/jquery-1.9.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/time/js/flipclock/libs/prefixfree.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/time/js/flipclock/flipclock.min.js" | relative_url }}"></script>
    <script>
      
      var clock = $('.your-clock').FlipClock({
        clockFace: 'TwentyFourHourClock'
      });
    
    </script>

    <!-- live2d -->
    <script src="{{ "/assets/live2d/waifu-tips.js" | relative_url }}"></script>
    <script src="{{ "/assets/live2d/main.js" | relative_url }}"></script>
    <script type="text/javascript">
        loadlive2d("live2d", "/assets/live2d/Potion-Maker/xiaoban/model.json");
    </script>

    <!-- canvas-nested -->
    <!-- <script src="{{ "/assets/background/canvas-nested.js" | relative_url }}"></script> -->

    <!-- cursor -->
    <script src="{{ "/assets/cursor/snowflakeCursor.js" | relative_url }}"></script>

    <!-- valine评论插件 -->
    <script>
      new Valine({
          el: '#vcomments',
          appId: 'oa919Jd1iMOiGmiYxugoJa0p',
          appKey: 'w9rOPaKHRTvS3mTrej6VpIbV'
      })
    </script>

    <!-- 回到顶部的逻辑   -->
    <script>
      $("#back-top").hide();
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#back-top').fadeIn();
          } else {
            $('#back-top').fadeOut();
          }
        });
        $('#back-top a').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 800);
          return false;
        });
      });
    </script>
  </body>
</html>
