<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div class="your-clock" style="margin-top:0;transform: scale(.5) translateY(-50%) translateX(-50%);position:absolute;top:0;left:0;min-height:initial;"></div>
    <div class="waifu">
      <div class="waifu-tips"></div>
      <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    </div>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <!-- timer -->
    <script src="{{ "/assets/time/js/flipclock/jquery-1.9.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/time/js/flipclock/libs/prefixfree.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/time/js/flipclock/flipclock.min.js" | relative_url }}"></script>
    <script>
      
      var clock = $('.your-clock').FlipClock({
        clockFace: 'TwentyFourHourClock'
      });
    
    </script>

    <!-- live2d -->
    <script src="{{ "/assets/live2d/waifu-tips.js" | relative_url }}"></script>
    <script src="{{ "/assets/live2d/live2d.js" | relative_url }}"></script>
    <script type="text/javascript">
        loadlive2d("live2d", "/assets/live2d/Potion-Maker/xiaoban/model.json");
    </script>

    <!-- canvas-nested -->
    <script src="{{ "/assets/background/canvas-nested.js" | relative_url }}"></script>
  </body>
</html>
